<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="com.example.compose.ComposeSurfaceActivity"
            android:exported="false" />
        <activity
            android:name="com.example.compose.ComposableCodeLabActivity"
            android:exported="false" />
        <activity
            android:name="com.example.compose.CodeLabComposeBasicLayoutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.compose.CodeLabComposeStateActivity"
            android:exported="false" />
        <activity
            android:name="com.example.compose.SimpleComposableActivity"
            android:exported="false" />
        <activity
            android:name="com.example.compose.CodeLabComposeLazyLayoutsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.compose.CodeLabStylingTextActivity"
            android:exported="false" />
        <activity
            android:name="com.example.compose.CodeLabSimpleAnimationsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.compose.CodeLabComposeDrawingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.compose.CodeLabAdvancedLayoutsActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.ComposeInsetsActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity android:name="com.example.compose.ComposePhotoGridActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.ComposeNavigationActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.ComposeInteractionSourceActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.NestedScrollingModifierActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.ConstraintsModifiersActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.ComposePagerActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.ComposeFlowActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.ComposeBrushActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.SharedElementTransitionActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.anim.GoogleAnimSamples"
            android:exported="false" />
        <activity android:name="com.example.compose.ComposeAccessibilityActivity"
            android:exported="false" />
        <activity android:name="com.example.compose.TouchInputActivity"
            android:exported="false" />

        <receiver
            android:name="com.example.compose.widget.GlanceComposeAppWidgetReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

    </application>

</manifest>
